In [1]:
import pandas as pd

In [15]:
from pandas import DataFrame as df

In [2]:
data = pd.read_excel("data/TTC Station Coordinates.xlsx")

In [3]:
data.head()

                 STATION      LAT     LONG
0       BATHURST STATION  43.3958 -79.2440
1            BAY STATION  43.4013 -79.2324
2        BAYVIEW STATION  43.4601 -79.2312
3      BESSARION STATION  43.4609 -79.2235
4  BLOOR DANFORTH SUBWAY  43.6706 -79.3865

In [16]:
data_df = df(data, columns= ['STATION', 'LAT','LONG'])

In [11]:
data_df.head()

                 STATION      LAT     LONG
0       BATHURST STATION  43.3958 -79.2440
1            BAY STATION  43.4013 -79.2324
2        BAYVIEW STATION  43.4601 -79.2312
3      BESSARION STATION  43.4609 -79.2235
4  BLOOR DANFORTH SUBWAY  43.6706 -79.3865

In [18]:
data_df.to_json(r'data/station_coordinates.json')