In [1]:
# Update sklearn to prevent version mismatches
# !pip install sklearn --upgrade

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
# !pip install joblib

In [1]:
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [2]:
# the dataset used contains all delays under 30 mins. 
df = pd.read_csv("../Data/ttc_subway_delay_2018_2019_for_machine_learning.csv", encoding='unicode_escape')
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df.head()
# one hot encoding for stations - 1 or 0. will create many columns
# min_delay
# time series model

,id,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_info,latitude,longitude,line_name,month,time_range,month_number,hour,year
0,7720,2018-02-13,6:57,Tuesday,BROADVIEW STATION,EUNT,2,4,W,BD,5285,Equipment - No Trouble Found,43.4037,-79.2130,Bloor Danforth,February,5-9AM,2,6,2018
1,3147,2019-06-12,11:54,Wednesday,COXWELL STATION,TUNIP,2,5,W,BD,5350,Operator Not In Position,43.4103,-79.1923,Bloor Danforth,June,9AM-12PM,6,11,2019
2,11036,2018-07-31,17:05,Tuesday,COXWELL STATION,TUNOA,2,4,E,BD,0,No Operator Immediately Available,43.4103,-79.1923,Bloor Danforth,July,3-6PM,7,17,2018
3,11037,2018-07-31,17:33,Tuesday,COXWELL STATION,TUNOA,2,4,E,BD,0,No Operator Immediately Available,43.4103,-79.1923,Bloor Danforth,July,3-6PM,7,17,2018
4,11038,2018-07-31,17:40,Tuesday,COXWELL STATION,TUNOA,2,4,W,BD,0,No Operator Immediately Available,43.4103,-79.1923,Bloor Danforth,July,3-6PM,7,17,2018

# Select your features (columns)

In [3]:
# Drop the null rows, and everything that is not a float except station
df = df.dropna().drop(['id','date','time','day',
                       'code','bound','line','code_info',
                       'line_name','month','time_range',"latitude",
                       "longitude"], axis=1)
df.head()

             station  min_delay  min_gap  vehicle  month_number  hour  year
0  BROADVIEW STATION          2        4     5285             2     6  2018
1    COXWELL STATION          2        5     5350             6    11  2019
2    COXWELL STATION          2        4        0             7    17  2018
3    COXWELL STATION          2        4        0             7    17  2018
4    COXWELL STATION          2        4        0             7    17  2018

# Create a Train Test Split

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
X = df.drop("station", axis=1)
y = df["min_delay"]
print(X.shape, y.shape)

(13315, 6) (13315,)

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [105]:
X_train.head()

,id,min_delay,min_gap,vehicle,latitude,longitude,month_number,hour,year
1331,9690.0,3.0,6.0,5621.0,43.7814,-79.4150,6.0,18.0,2018.0
2779,431.0,3.0,5.0,5220.0,43.3944,-79.2536,1.0,8.0,2019.0
5875,2688.0,4.0,8.0,5205.0,43.3814,-79.3210,5.0,22.0,2019.0
9439,6703.0,5.0,9.0,5089.0,43.4111,-79.1846,12.0,13.0,2019.0
8117,7764.0,5.0,10.0,5243.0,43.4357,-79.1549,2.0,5.0,2018.0

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [106]:
# Scale data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [107]:
# Encode Data
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [108]:
# categorize
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [147]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# create model
model = Sequential()
model.add(Dense(units=10, activation='relu', input_dim=9)) #how many units should we have?
model.add(Dense(units=10, activation='relu'))
model.add(Dense(units=29, activation='softmax'))

In [148]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [150]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=30, #did I over train?
    shuffle=True,
    verbose=2
)

Train on 8921 samples
Epoch 1/30
8921/8921 - 0s - loss: 0.3898 - accuracy: 0.9238
Epoch 2/30
8921/8921 - 0s - loss: 0.3666 - accuracy: 0.9298
Epoch 3/30
8921/8921 - 0s - loss: 0.3440 - accuracy: 0.9338
Epoch 4/30
8921/8921 - 0s - loss: 0.3222 - accuracy: 0.9380
Epoch 5/30
8921/8921 - 0s - loss: 0.3038 - accuracy: 0.9407
Epoch 6/30
8921/8921 - 0s - loss: 0.2864 - accuracy: 0.9471
Epoch 7/30
8921/8921 - 0s - loss: 0.2704 - accuracy: 0.9478
Epoch 8/30
8921/8921 - 0s - loss: 0.2562 - accuracy: 0.9539
Epoch 9/30
8921/8921 - 0s - loss: 0.2430 - accuracy: 0.9559
Epoch 10/30
8921/8921 - 0s - loss: 0.2293 - accuracy: 0.9574
Epoch 11/30
8921/8921 - 0s - loss: 0.2188 - accuracy: 0.9595
Epoch 12/30
8921/8921 - 0s - loss: 0.2076 - accuracy: 0.9611
Epoch 13/30
8921/8921 - 0s - loss: 0.1974 - accuracy: 0.9605
Epoch 14/30
8921/8921 - 0s - loss: 0.1894 - accuracy: 0.9639
Epoch 15/30
8921/8921 - 0s - loss: 0.1799 - accuracy: 0.9649
Epoch 16/30
8921/8921 - 0s - loss: 0.1712 - accuracy: 0.9666
Epoch 17/30
8921/8921 - 1s - loss: 0.1640 - accuracy: 0.9682
Epoch 18/30
8921/8921 - 0s - loss: 0.1568 - accuracy: 0.9706
Epoch 19/30
8921/8921 - 0s - loss: 0.1506 - accuracy: 0.9687
Epoch 20/30
8921/8921 - 0s - loss: 0.1428 - accuracy: 0.9729
Epoch 21/30
8921/8921 - 0s - loss: 0.1375 - accuracy: 0.9743
Epoch 22/30
8921/8921 - 0s - loss: 0.1339 - accuracy: 0.9721
Epoch 23/30
8921/8921 - 0s - loss: 0.1279 - accuracy: 0.9747
Epoch 24/30
8921/8921 - 0s - loss: 0.1244 - accuracy: 0.9737
Epoch 25/30
8921/8921 - 0s - loss: 0.1183 - accuracy: 0.9751
Epoch 26/30
8921/8921 - 0s - loss: 0.1150 - accuracy: 0.9765
Epoch 27/30
8921/8921 - 0s - loss: 0.1102 - accuracy: 0.9779
Epoch 28/30
8921/8921 - 0s - loss: 0.1069 - accuracy: 0.9766
Epoch 29/30
8921/8921 - 0s - loss: 0.1034 - accuracy: 0.9772
Epoch 30/30
8921/8921 - 1s - loss: 0.0992 - accuracy: 0.9769

In [151]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 10)                100
_________________________________________________________________
dense_19 (Dense)             (None, 10)                110
_________________________________________________________________
dense_20 (Dense)             (None, 29)                319
=================================================================
Total params: 529
Trainable params: 529
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# prediction result

# Train the Model

In [152]:
# Create the SVC Model
from sklearn.svm import SVC 
model2 = SVC(kernel='linear')
model2

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [153]:
# fit the model
model2.fit(X_train_scaled, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [154]:
print(f"Training Data Score: {model2.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model2.score(X_test_scaled, y_test)}")

Training Data Score: 0.7372491873108395
Testing Data Score: 0.7289485662266727

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [155]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.0005, 0.001]}
grid = GridSearchCV(model2, param_grid, verbose=3)

In [156]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ................... C=1, gamma=0.0001, score=0.719, total=   2.3s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.2s remaining:    0.0s

[CV] ................... C=1, gamma=0.0001, score=0.724, total=   2.1s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    4.3s remaining:    0.0s

[CV] ................... C=1, gamma=0.0001, score=0.732, total=   2.1s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ................... C=1, gamma=0.0001, score=0.729, total=   2.1s
[CV] C=1, gamma=0.0001 ...............................................
[CV] ................... C=1, gamma=0.0001, score=0.724, total=   2.1s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ................... C=1, gamma=0.0005, score=0.719, total=   2.0s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ................... C=1, gamma=0.0005, score=0.724, total=   2.1s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ................... C=1, gamma=0.0005, score=0.732, total=   2.0s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ................... C=1, gamma=0.0005, score=0.729, total=   2.1s
[CV] C=1, gamma=0.0005 ...............................................
[CV] ................... C=1, gamma=0.0005, score=0.724, total=   2.1s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.719, total=   2.1s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.724, total=   2.1s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.732, total=   2.0s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.729, total=   2.1s
[CV] C=1, gamma=0.001 ................................................
[CV] .................... C=1, gamma=0.001, score=0.724, total=   2.1s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.931, total=   1.1s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.933, total=   1.1s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.927, total=   1.1s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.928, total=   1.0s
[CV] C=5, gamma=0.0001 ...............................................
[CV] ................... C=5, gamma=0.0001, score=0.934, total=   1.1s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ................... C=5, gamma=0.0005, score=0.931, total=   1.1s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ................... C=5, gamma=0.0005, score=0.933, total=   1.1s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ................... C=5, gamma=0.0005, score=0.927, total=   1.1s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ................... C=5, gamma=0.0005, score=0.928, total=   1.0s
[CV] C=5, gamma=0.0005 ...............................................
[CV] ................... C=5, gamma=0.0005, score=0.934, total=   1.1s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.931, total=   1.1s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.933, total=   1.1s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.927, total=   1.1s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.928, total=   1.0s
[CV] C=5, gamma=0.001 ................................................
[CV] .................... C=5, gamma=0.001, score=0.934, total=   1.1s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.968, total=   0.9s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.961, total=   0.9s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.962, total=   0.9s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.965, total=   0.9s
[CV] C=10, gamma=0.0001 ..............................................
[CV] .................. C=10, gamma=0.0001, score=0.965, total=   0.9s
[CV] C=10, gamma=0.0005 ..............................................
[CV] .................. C=10, gamma=0.0005, score=0.968, total=   0.9s
[CV] C=10, gamma=0.0005 ..............................................
[CV] .................. C=10, gamma=0.0005, score=0.961, total=   0.9s
[CV] C=10, gamma=0.0005 ..............................................
[CV] .................. C=10, gamma=0.0005, score=0.962, total=   0.9s
[CV] C=10, gamma=0.0005 ..............................................
[CV] .................. C=10, gamma=0.0005, score=0.965, total=   0.9s
[CV] C=10, gamma=0.0005 ..............................................
[CV] .................. C=10, gamma=0.0005, score=0.965, total=   0.9s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.968, total=   0.9s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.961, total=   0.9s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.962, total=   0.9s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.965, total=   0.9s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................... C=10, gamma=0.001, score=0.965, total=   0.9s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:  1.0min finished

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='linear', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [1, 5, 10], 'gamma': [0.0001, 0.0005, 0.001]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [157]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 10, 'gamma': 0.0001}
0.9641292032508071

# Save the Model

In [158]:
# using results above to save the best model
best_model=SVC(kernel='linear', C=10, gamma=0.0001)

import joblib

filename = 'best_model.sav'
joblib.dump(best_model, filename)

['best_model.sav']