In [ ]:
## what is the probability of deley happens at certain station/time, to predict how many minutes will be deley?

In [1]:
import pandas as pd

# Read the CSV

In [26]:
# the dataset used contains all delays under 30 mins. 
df = pd.read_csv("../Data/ttc_subway_delay_2018_2019.csv", encoding='unicode_escape')
# Drop the null columns where all values are null
df.shape

(13732, 22)

# Data Cleaning

In [27]:
# Drop the null columns where all values are null
df1= df.dropna(axis='columns', how='all')
df1.head(5)

,id,date,time,day,station,code,min_delay,min_gap,bound,line,...,latitude,longitude,line_name,month,time_range,month_number,hour,year,Index,Check
0,1,2019-01-01,3:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,...,43.674584,-79.40683,Yonge University Spadina,January,9PM-1:30AM,1,3,2019,43466DUPONT STATION11,#REF!
1,2,2019-01-01,3:08,Tuesday,EGLINTON WEST STATION,EUATC,11,16,S,YU,...,43.699209,-79.435819,Yonge University Spadina,January,9PM-1:30AM,1,3,2019,43466EGLINTON WEST STATION11,#REF!
2,3,2019-01-01,3:09,Tuesday,DUPONT STATION,EUATC,6,11,N,YU,...,43.674584,-79.40683,Yonge University Spadina,January,9PM-1:30AM,1,3,2019,43466DUPONT STATION6,#REF!
3,4,2019-01-01,3:26,Tuesday,ST CLAIR WEST STATION,EUATC,4,9,N,YU,...,43.683888,-79.415113,Yonge University Spadina,January,9PM-1:30AM,1,3,2019,43466ST CLAIR WEST STATION4,#REF!
4,5,2019-01-01,8:04,Tuesday,DAVISVILLE STATION,MUNOA,5,10,S,YU,...,43.697778,-79.397222,Yonge University Spadina,January,5-9AM,1,8,2019,43466DAVISVILLE STATION5,#REF!

In [28]:
# Drop the null columns where all values are null
data = df1.dropna(axis='rows', how='all')
data.count()

id              13732
date            13732
time            13732
day             13732
station         13732
code            13732
min_delay       13732
min_gap         13732
bound           13590
line            13731
vehicle         13732
code_info       13665
latitude        13253
longitude       13253
line_name       13731
month           13732
time_range      13732
month_number    13732
hour            13732
year            13732
Index            6676
Check            6676
dtype: int64

#  Data Pre-Processing

In [36]:
y = data["min_delay"].values.reshape(-1, 1)
y

array([[11],
       [11],
       [ 6],
       ...,
       [ 5],
       [ 5],
       [ 3]], dtype=int64)

In [30]:
X = data[['time','day','station']]
X.tail()

        time     day                 station
13727  19:20  Monday        DONLANDS STATION
13728  20:19  Monday      SHERBOURNE STATION
13729  21:29  Monday  SCARBOROUGH CTR STATIO
13730  21:49  Monday     SPADINA YUS STATION
13731  22:36  Monday          DUNDAS STATION

In [37]:
print(X.shape, y.shape)

(13732, 3) (13732, 1)

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [45]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1,stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)