In [396]:
import pandas as pd
import numpy as np

In [397]:
df1819_midway = pd.read_csv('Data20182019_No0_CleanPart1.csv')
len(df1819_midway)

13727

In [398]:
df1819_midway.head()

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle
0,2019-01-01,03:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061
1,2019-01-01,03:08,Tuesday,EGLINTON WEST STATION,EUATC,11,16,S,YU,5656
2,2019-01-01,03:09,Tuesday,DUPONT STATION,EUATC,6,11,N,YU,5381
3,2019-01-01,03:26,Tuesday,ST CLAIR WEST STATION,EUATC,4,9,N,YU,5571
4,2019-01-01,08:04,Tuesday,DAVISVILLE STATION,MUNOA,5,10,S,YU,0

CHANGE STATION: SHEPPARD

In [399]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SHEPPARD')]
df1819_no0_stations["station"].unique()

array(['SHEPPARD WEST STATION', 'SHEPPARD STATION',
       'SHEPPARD-YONGE STATION', 'SHEPPARD YONGE STATION'], dtype=object)

In [400]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SHEPPARD YONGE STATION')]
df1819_no0_stations["line"].unique()

array(['SHP'], dtype=object)

In [401]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SHEPPARD-YONGE STATION')]
df1819_no0_stations["line"].unique()

array(['SHP'], dtype=object)

In [402]:
df1819_midway["station"] = df1819_midway["station"].replace(
    {'SHEPPARD YONGE STATION': 'SHEPPARD-YONGE SHP STATION','SHEPPARD-YONGE STATION': 'SHEPPARD-YONGE SHP STATION',
    'SHEPPARD STATION': 'SHEPPARD-YONGE YUS STATION'})
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SHEPPARD')]
df1819_no0_stations["station"].unique()

array(['SHEPPARD WEST STATION', 'SHEPPARD-YONGE YUS STATION',
       'SHEPPARD-YONGE SHP STATION'], dtype=object)

In [403]:
len(df1819_midway)

13727

In [404]:
df1819_midway.to_csv('Data20182019_No0_CleanPart2.csv', index=False)

START FROM HERE TO REFRESH DATA

In [405]:
#df1819_midway = pd.read_csv('Data20182019_No0_CleanPart2.csv')

In [406]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SHEPPARD-YONGE YUS')]
df1819_no0_stations['line'].value_counts()

YU     159
SHP      1
Name: line, dtype: int64

In [407]:
#df1819_midway["new_line"] = np.where(((df1819_midway["station"]=="COXWELL STATION")&
#                                     (df1819_midway["line"]=="YU")),"BD","")
#df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('STATION')]
#df1819_no0_stations['new_line'].value_counts()

CHECKING SPADINA

In [408]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SPADINA')]
df1819_no0_stations["station"].unique()

array(['SPADINA YUS STATION', 'SPADINA BD STATION',
       'SPADINA YUS STATION (L', 'SPADINA STATION'], dtype=object)

In [409]:
df1819_midway["station"] = df1819_midway["station"].replace(
    {'SPADINA YUS STATION (L': 'SPADINA YUS STATION'})
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SPADINA')]
df1819_no0_stations["station"].unique()

array(['SPADINA YUS STATION', 'SPADINA BD STATION', 'SPADINA STATION'],
      dtype=object)

In [410]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SPADINA STATION')]
df1819_no0_stations["line"].value_counts()

YU    1
BD    1
Name: line, dtype: int64

In [411]:
df1819_midway["station"] = df1819_midway["station"].replace(
    {'SPADINA STATION': 'SPADINA YUS STATION'})
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SPADINA Y')]
df1819_no0_stations["line"].value_counts()

YU    103
BD      1
Name: line, dtype: int64

In [412]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SPADINA BD STATION')]
df1819_no0_stations["line"].unique()

array(['BD'], dtype=object)

CHECKING YONGE

In [413]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE')]
df1819_no0_stations["station"].unique()

array(['YONGE BD STATION', 'SHEPPARD-YONGE YUS STATION',
       'YONGE SHP STATION', 'YONGE BD STATION (LEAV',
       'SHEPPARD-YONGE SHP STATION', 'YONGE STATION'], dtype=object)

In [414]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE STATION')]
df1819_no0_stations['line'].value_counts()

BD    1
Name: line, dtype: int64

In [415]:
df1819_midway["station"] = df1819_midway["station"].replace(
    {'YONGE BD STATION': 'YONGE BLOOR BD STATION','YONGE STATION': 'YONGE BLOOR BD STATION',
     'YONGE BD STATION (LEAV' :'YONGE BLOOR BD STATION','YONGE SHP STATION': 'SHEPPARD-YONGE SHP STATION'})
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE')]
df1819_no0_stations["station"].unique()

array(['YONGE BLOOR BD STATION', 'SHEPPARD-YONGE YUS STATION',
       'SHEPPARD-YONGE SHP STATION'], dtype=object)

In [416]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE BLOOR BD STATION')]
df1819_no0_stations['line'].value_counts()

BD    276
YU      1
Name: line, dtype: int64

In [417]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR S')]
df1819_no0_stations['line'].value_counts()

YU    334
Name: line, dtype: int64

In [418]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR')]
df1819_no0_stations["station"].value_counts()

BLOOR STATION             334
YONGE BLOOR BD STATION    277
Name: station, dtype: int64

In [419]:
df1819_midway["station"] = df1819_midway["station"].replace(
    {'BLOOR STATION': 'YONGE BLOOR YUS STATION'})
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR')]
df1819_no0_stations["station"].unique()

array(['YONGE BLOOR BD STATION', 'YONGE BLOOR YUS STATION'], dtype=object)

In [420]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR')]
df1819_no0_stations["line"].value_counts()

YU    335
BD    276
Name: line, dtype: int64

CLEAN BATHURST STATION

In [421]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BATH')]
df1819_no0_stations["station"].value_counts()

BATHURST STATION    117
BATHUSRT STATION      1
Name: station, dtype: int64

In [423]:
df1819_midway["station"] = df1819_midway["station"].replace(
    {'BATHUSRT STATION': 'BATHURST STATION'})
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BATHURST STATION')]
df1819_no0_stations["station"].unique()

array(['BATHURST STATION'], dtype=object)

In [424]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BATHURST')]
df1819_no0_stations['line'].value_counts()

BD    118
Name: line, dtype: int64

SAVE TO FILE

In [425]:
len(df1819_midway)

13727

In [426]:
df1819_midway.to_csv('Data20182019_No0_CleanPart3.csv', index=False)

In [427]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE')]
df1819_no0_stations['station'].value_counts()

ST GEORGE BD STATION     215
ST GEORGE YUS STATION    211
Name: station, dtype: int64

In [428]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE BD')]
df1819_no0_stations['line'].value_counts()

BD    213
YU      2
Name: line, dtype: int64

In [429]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE YU')]
df1819_no0_stations['line'].value_counts()

YU    209
BD      2
Name: line, dtype: int64

In [430]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR')]
df1819_no0_stations['station'].value_counts()

YONGE BLOOR YUS STATION    334
YONGE BLOOR BD STATION     277
Name: station, dtype: int64

In [431]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR YU')]
df1819_no0_stations['line'].value_counts()

YU    334
Name: line, dtype: int64

In [432]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR BD')]
df1819_no0_stations['line'].value_counts()

BD    276
YU      1
Name: line, dtype: int64

In [433]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('KENN')]
df1819_no0_stations['station'].value_counts()

KENNEDY BD STATION     625
KENNEDY SRT STATION    170
Name: station, dtype: int64

In [434]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('KENNEDY BD')]
df1819_no0_stations['line'].value_counts()

BD    624
YU      1
Name: line, dtype: int64

In [435]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('KENNEDY S')]
df1819_no0_stations['line'].value_counts()

SRT    170
Name: line, dtype: int64

# Need Change in Line

In [436]:
#df1819_midway = pd.read_csv('Data20182019_No0_CleanPart3.csv')

In [437]:
len(df1819_midway)

13727

In [438]:
column_line = df1819_midway.columns.get_loc("line")
column_line

8

In [439]:
line_temp = df1819_midway[df1819_midway["station"].str.contains('SHEPPARD-YONGE YU')]
#right_line = line_temp['line'].loc(line_temp['line'].value_counts() == 1)
line_calc = line_temp['line'].value_counts()
#line_calc[0] == 1
line_temp['line'].value_counts()

YU     159
SHP      1
Name: line, dtype: int64

In [440]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SHEPPARD-YONGE YU')]
df1819_no0_stations['station'].unique()[0]

'SHEPPARD-YONGE YUS STATION'

In [441]:
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'SHP'))
index[0][0]

4054

In [442]:
df1819_midway.loc[(df1819_midway['station'] == 'SHEPPARD-YONGE YUS STATION') & (df1819_midway['line'] == 'SHP')]

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle
4054,2019-07-31,20:58,Wednesday,SHEPPARD-YONGE YUS STATION,SUO,22,27,W,SHP,6186

In [443]:
df1819_midway.iloc[index[0][0], column_line] = 'YU'

In [444]:
df1819_midway.loc[index[0][0],:]

date                         2019-07-31
time                              20:58
day                           Wednesday
station      SHEPPARD-YONGE YUS STATION
code                                SUO
min_delay                            22
min_gap                              27
bound                                 W
line                                 YU
vehicle                            6186
Name: 4054, dtype: object

FIX LINE FOR COXWELL STATION

In [445]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('COX')]
df1819_no0_stations['line'].value_counts()

BD    352
YU      1
Name: line, dtype: int64

In [446]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('COX')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'YU'))
df1819_midway.loc[index[0][0],:]

date              2018-07-08
time                   22:25
day                   Sunday
station      COXWELL STATION
code                   MUNOA
min_delay                  4
min_gap                    8
bound                    NaN
line                      YU
vehicle                    0
Name: 10338, dtype: object

In [447]:
df1819_midway.iloc[index[0][0], column_line] = 'BD'
df1819_midway.loc[index[0][0],:]

date              2018-07-08
time                   22:25
day                   Sunday
station      COXWELL STATION
code                   MUNOA
min_delay                  4
min_gap                    8
bound                    NaN
line                      BD
vehicle                    0
Name: 10338, dtype: object

In [448]:
df1819_midway.iloc[10338, :]

date              2018-07-08
time                   22:25
day                   Sunday
station      COXWELL STATION
code                   MUNOA
min_delay                  4
min_gap                    8
bound                    NaN
line                      BD
vehicle                    0
Name: 10338, dtype: object

FIX LINE FOR SPADINA

In [449]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SPADINA Y')]
df1819_no0_stations["line"].value_counts()

YU    103
BD      1
Name: line, dtype: int64

In [450]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SPADINA Y')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'BD'))
df1819_midway.loc[index[0][0],:]

date                  2018-08-20
time                       18:05
day                       Monday
station      SPADINA YUS STATION
code                        MUIS
min_delay                     10
min_gap                       13
bound                          E
line                          BD
vehicle                     5335
Name: 11326, dtype: object

In [451]:
df1819_midway.iloc[index[0][0], column_line] = 'YU'
df1819_midway.loc[index[0][0],:]

date                  2018-08-20
time                       18:05
day                       Monday
station      SPADINA YUS STATION
code                        MUIS
min_delay                     10
min_gap                       13
bound                          E
line                          YU
vehicle                     5335
Name: 11326, dtype: object

FIX LINE FOR YONGE BLOOR BD STATION

In [453]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE BLOOR BD STATION')]
df1819_no0_stations['line'].value_counts()

BD    276
YU      1
Name: line, dtype: int64

In [454]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE BLOOR BD STATION')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'YU'))
df1819_midway.loc[index[0][0],:]

date                     2018-07-16
time                          10:57
day                          Monday
station      YONGE BLOOR BD STATION
code                            SUO
min_delay                        16
min_gap                          19
bound                             W
line                             YU
vehicle                        5163
Name: 10515, dtype: object

In [455]:
df1819_midway.iloc[index[0][0], column_line] = 'BD'
df1819_midway.loc[index[0][0],:]

date                     2018-07-16
time                          10:57
day                          Monday
station      YONGE BLOOR BD STATION
code                            SUO
min_delay                        16
min_gap                          19
bound                             W
line                             BD
vehicle                        5163
Name: 10515, dtype: object

In [456]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE BLOOR BD STATION')]
df1819_no0_stations['line'].value_counts()

BD    277
Name: line, dtype: int64

FIX LINE FOR KENNEDY BD

In [457]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('KENNEDY BD')]
df1819_no0_stations['line'].value_counts()

BD    624
YU      1
Name: line, dtype: int64

In [458]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('KENNEDY BD')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'YU'))
df1819_midway.loc[index[0][0],:]

date                 2018-08-15
time                      18:10
day                   Wednesday
station      KENNEDY BD STATION
code                      MUNOA
min_delay                     3
min_gap                       6
bound                         W
line                         YU
vehicle                       0
Name: 11234, dtype: object

In [459]:
df1819_midway.iloc[index[0][0], column_line] = 'BD'
df1819_midway.loc[index[0][0],:]

date                 2018-08-15
time                      18:10
day                   Wednesday
station      KENNEDY BD STATION
code                      MUNOA
min_delay                     3
min_gap                       6
bound                         W
line                         BD
vehicle                       0
Name: 11234, dtype: object

In [460]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('KENNEDY BD')]
df1819_no0_stations['line'].value_counts()

BD    625
Name: line, dtype: int64

FIX LINE FOR SUMMER

In [461]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SUMMER')]
df1819_no0_stations['line'].value_counts()

YU    127
BD      1
Name: line, dtype: int64

In [462]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SUMMER')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'BD'))
df1819_midway.loc[index[0][0],:]

date                 2019-12-02
time                      00:32
day                      Monday
station      SUMMERHILL STATION
code                       SUDP
min_delay                     6
min_gap                      11
bound                         S
line                         BD
vehicle                    5696
Name: 6120, dtype: object

In [463]:
df1819_midway.iloc[index[0][0], column_line] = 'YU'
df1819_midway.loc[index[0][0],:]

date                 2019-12-02
time                      00:32
day                      Monday
station      SUMMERHILL STATION
code                       SUDP
min_delay                     6
min_gap                      11
bound                         S
line                         YU
vehicle                    5696
Name: 6120, dtype: object

In [464]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('SUMMER')]
df1819_no0_stations['line'].value_counts()

YU    128
Name: line, dtype: int64

FIX LINE FOR CLAIR WEST

In [465]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('CLAIR W')]
df1819_no0_stations['line'].value_counts()

YU    226
BD      1
Name: line, dtype: int64

In [467]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('CLAIR W')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'BD'))
df1819_midway.loc[index[0][0],:]

date                    2018-11-02
time                         01:35
day                         Friday
station      ST CLAIR WEST STATION
code                          MUIR
min_delay                       11
min_gap                         16
bound                            N
line                            BD
vehicle                       5771
Name: 12677, dtype: object

In [468]:
df1819_midway.iloc[index[0][0], column_line] = 'YU'
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('CLAIR W')]
df1819_no0_stations['line'].value_counts()

YU    227
Name: line, dtype: int64

In [469]:
len(df1819_midway)

13727

In [470]:
df1819_midway.to_csv('Data20182019_No0_CleanPart4.csv', index=False)

FIX LINE FOR YORK U

In [530]:
df1819_midway = pd.read_csv('Data20182019_No0_CleanPart4.csv')

In [531]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YORK U')]
df1819_no0_stations['line'].value_counts()

YU    36
BD     1
Name: line, dtype: int64

In [532]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YORK U')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'BD'))
df1819_midway.loc[index[0][0],:]

date                      2019-12-02
time                           00:13
day                           Monday
station      YORK UNIVERSITY STATION
code                           MUATC
min_delay                         13
min_gap                           17
bound                              N
line                              BD
vehicle                         6056
Name: 6119, dtype: object

In [533]:
df1819_midway.iloc[index[0][0], column_line] = 'YU'
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YORK U')]
df1819_no0_stations['line'].value_counts()

YU    37
Name: line, dtype: int64

FIX LINE FOR BLOOR BD

In [534]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR BD')]
df1819_no0_stations['line'].value_counts()

BD    277
Name: line, dtype: int64

In [508]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('YONGE BLOOR BD STATION')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'YU'))
df1819_midway.loc[index[0][0],:]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [509]:
df1819_midway.iloc[index[0][0], column_line] = 'BD'
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('BLOOR BD')]
df1819_no0_stations['line'].value_counts()

IndexError: index 0 is out of bounds for axis 0 with size 0

FIX LINE FOR GEORGE BD

In [535]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE BD')]
df1819_no0_stations['line'].value_counts()

BD    213
YU      2
Name: line, dtype: int64

In [536]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE BD')]
df1819_no0_stations['station'].value_counts()

ST GEORGE BD STATION    215
Name: station, dtype: int64

In [537]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE BD')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'YU'))
index

(array([  52, 2079], dtype=int64),)

In [538]:
df1819_midway.loc[(df1819_midway['station'] == 'ST GEORGE BD STATION') & (df1819_midway['line'] == 'YU')]

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle
52,2019-01-03,06:29,Thursday,ST GEORGE BD STATION,PUTIJ,7,12,N,YU,5486
2079,2019-04-20,13:08,Saturday,ST GEORGE BD STATION,SUUT,21,25,S,YU,5831

In [539]:
df1819_midway.iloc[index[0][0], column_line] = 'BD'
df1819_midway.iloc[index[0][1], column_line] = 'BD'
df1819_midway.loc[(df1819_midway['station'] == 'ST GEORGE BD STATION') & (df1819_midway['line'] == 'YU')]

Empty DataFrame
Columns: [date, time, day, station, code, min_delay, min_gap, bound, line, vehicle]
Index: []

FIX LINE FOR GEORGE YU

In [540]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE YU')]
df1819_no0_stations['line'].value_counts()

YU    209
BD      2
Name: line, dtype: int64

In [541]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE YU')]
df1819_no0_stations['station'].value_counts()

ST GEORGE YUS STATION    211
Name: station, dtype: int64

In [542]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GEORGE YU')]
df1819_no0_stations['station'].unique()[0]
index = np.where((df1819_midway['station'] == df1819_no0_stations['station'].unique()[0]) 
                 & (df1819_midway['line'] == 'BD'))
index

(array([ 6873, 10711], dtype=int64),)

In [543]:
df1819_midway.loc[(df1819_midway['station'] == 'ST GEORGE YU STATION') & (df1819_midway['line'] == 'BD')]

Empty DataFrame
Columns: [date, time, day, station, code, min_delay, min_gap, bound, line, vehicle]
Index: []

In [544]:
df1819_midway.iloc[index[0][0], column_line] = 'YU'
df1819_midway.iloc[index[0][1], column_line] = 'YU'
df1819_midway.loc[(df1819_midway['station'] == 'ST GEORGE YU STATION') & (df1819_midway['line'] == 'BD')]

Empty DataFrame
Columns: [date, time, day, station, code, min_delay, min_gap, bound, line, vehicle]
Index: []

FIXING NAN LINE

In [545]:
index_lineNaN = df1819_midway.loc[df1819_midway['line'].isnull()]
index_lineNaN

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle
11146,2018-08-11,18:07,Saturday,GREENWOOD STATION,MUI,6,10,E,NaN,5258

In [546]:
df1819_no0_stations = df1819_midway[df1819_midway["station"].str.contains('GREEN')]
df1819_no0_stations['line'].value_counts()

BD    263
Name: line, dtype: int64

In [547]:
df1819_midway.iloc[11146, column_line] = 'BD'

In [548]:
index_lineNaN = df1819_midway.loc[df1819_midway['line'].isnull()]
index_lineNaN

Empty DataFrame
Columns: [date, time, day, station, code, min_delay, min_gap, bound, line, vehicle]
Index: []

In [549]:
len(df1819_midway)

13727

In [550]:
df1819_midway.to_csv('Data20182019_No0_CleanFinal.csv', index=False)