In [9]:
import pandas as pd
import numpy as np

In [10]:
dfjan19 = pd.read_excel('Data/2019/ttc-subway-delay-january-2019.xlsx')
len(dfjan19)

1871

In [11]:
dffeb19 = pd.read_excel('Data/2019/ttc-subway-delay-february-2019.xlsx')
len(dffeb19)

1598

In [12]:
dfmar19 = pd.read_excel('Data/2019/ttc-subway-delay-march-2019.xlsx')
dfmar19.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2019-03-01,00:04,Friday,WILSON STATION,SUDP,0,0,NaN,YU,0
1,2019-03-01,00:19,Friday,DUPONT STATION,MUSC,0,0,S,YU,5826
2,2019-03-01,00:22,Friday,ISLINGTON STATION,SUO,4,9,W,BD,5241
3,2019-03-01,00:43,Friday,SHERBOURNE STATION,MUSC,0,0,E,BD,5291
4,2019-03-01,00:59,Friday,KENNEDY BD STATION,MUIS,0,0,NaN,BD,0

In [13]:
dfapr19 = pd.read_excel('Data/2019/ttc-subway-delay-april-2019.xlsx')
dfmay19 = pd.read_excel('Data/2019/ttc-subway-delay-may-2019.xlsx')

In [14]:
dfjun19 = pd.read_excel('Data/2019/ttc-subway-delay-june-2019.xlsx')
dfjul19 = pd.read_excel('Data/2019/subway-srt-logs-july-2019.xlsx')

In [15]:
dfaug19 = pd.read_excel('Data/2019/subway-srt-logs-august-2019.xlsx')
dfsep19 = pd.read_excel('Data/2019/subway-srt-logs-september-2019.xlsx')
dfoct19 = pd.read_excel('Data/2019/subway-srt-logs-october-2019.xlsx')
dfnov19 = pd.read_excel('Data/2019/subway-srt-logs-november-2019.xlsx')
dfdec19 = pd.read_excel('Data/2019/subway-srt-logs-december-2019.xlsx')

In [16]:
dfjanfeb19 = dfjan19.append(dffeb19)
dfjanmar19 = dfjanfeb19.append(dfmar19)
dfjanapr19 = dfjanmar19.append(dfapr19)
len(dfjanapr19)

6522

In [17]:
dfjanmay19 = dfjanapr19.append(dfmay19)

In [18]:
dfjanjun19 = dfjanmay19.append(dfjun19)
dfjanjul19 = dfjanjun19.append(dfjul19)
dfjanaug19 = dfjanjul19.append(dfaug19)
dfjansep19 = dfjanaug19.append(dfsep19)

In [19]:
dfjanoct19 = dfjansep19.append(dfoct19)
dfjannov19 = dfjanoct19.append(dfnov19)
dfjandec19 = dfjannov19.append(dfdec19)

In [20]:
len(dfjandec19)

19222

In [21]:
dfjandec19.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2019-01-01,01:08,Tuesday,YORK MILLS STATION,PUSI,0,0,S,YU,5766
1,2019-01-01,02:14,Tuesday,ST ANDREW STATION,PUMST,0,0,NaN,YU,0
2,2019-01-01,02:16,Tuesday,JANE STATION,TUSC,0,0,W,BD,5117
3,2019-01-01,02:27,Tuesday,BLOOR STATION,SUO,0,0,N,YU,5436
4,2019-01-01,03:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061

In [22]:
dfjan18 = pd.read_excel('Data/2018/ttc-subway-delay-january-2018.xlsx')
dffeb18 = pd.read_excel('Data/2018/ttc-subway-delay-february-2018.xlsx')
dfmar18 = pd.read_excel('Data/2018/ttc-subway-delay-march-2018.xlsx')
dfapr18 = pd.read_excel('Data/2018/ttc-subway-delay-april-2018.xlsx')
dfmay18 = pd.read_excel('Data/2018/ttc-subway-delay-may-2018.xlsx')
dfjun18 = pd.read_excel('Data/2018/ttc-subway-delay-june-2018.xlsx')

In [23]:
dfjul18 = pd.read_excel('Data/2018/ttc-subway-delay-july-2018.xlsx')
dfaug18 = pd.read_excel('Data/2018/ttc-subway-delay-august-2018.xlsx')
dfsep18 = pd.read_excel('Data/2018/ttc-subway-delay-september-2018.xlsx')
dfoct18 = pd.read_excel('Data/2018/ttc-subway-delay-october-2018.xlsx')
dfnov18 = pd.read_excel('Data/2018/ttc-subway-delay-november-2018.xlsx')
dfdec18 = pd.read_excel('Data/2018/ttc-subway-delay-december-2018.xlsx')

In [24]:
dfjanmar18 = dfjan18.append(dffeb18).append(dfmar18)
len(dfjanmar18)

4964

In [25]:
dfjanjul18 = dfjanmar18.append(dfapr18).append(dfmay18).append(dfjun18).append(dfjul18)
len(dfjanjul18)

12001

In [26]:
dfjandec18 = dfjanjul18.append(dfaug18).append(dfsep18).append(dfoct18).append(dfnov18).append(dfdec18)

In [27]:
len(dfjandec18)

20737

In [28]:
df1819 = dfjandec19.append(dfjandec18)
len(df1819)

39959

In [29]:
df1819.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2019-01-01,01:08,Tuesday,YORK MILLS STATION,PUSI,0,0,S,YU,5766
1,2019-01-01,02:14,Tuesday,ST ANDREW STATION,PUMST,0,0,NaN,YU,0
2,2019-01-01,02:16,Tuesday,JANE STATION,TUSC,0,0,W,BD,5117
3,2019-01-01,02:27,Tuesday,BLOOR STATION,SUO,0,0,N,YU,5436
4,2019-01-01,03:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061

In [30]:
df1819 = df1819.rename(columns={"Date": "date", "Time": "time","Day":"day","Station":"station","Code":"code","Min Delay":"min_delay","Min Gap":"min_gap","Bound":"bound","Line":"line","Vehicle":"vehicle"})

In [31]:
df1819.columns

Index(['date', 'time', 'day', 'station', 'code', 'min_delay', 'min_gap',
       'bound', 'line', 'vehicle'],
      dtype='object')

In [32]:
df1819.to_csv('Data20182019_Raw.csv', index=False)

In [33]:
df1819_nozero = df1819.loc[df1819["min_delay"] != 0]
len(df1819_nozero)

13963

In [34]:
df1819_nozero.to_csv('Data20182019_NoZero.csv', index=False)

In [35]:
df1819_nozero.dtypes

date         datetime64[ns]
time                 object
day                  object
station              object
code                 object
min_delay             int64
min_gap               int64
bound                object
line                 object
vehicle               int64
dtype: object

In [36]:
df1819_nozero["station"].unique()

array(['DUPONT STATION', 'EGLINTON WEST STATION', 'ST CLAIR WEST STATION',
       'DAVISVILLE STATION', 'KEELE STATION', 'DONLANDS STATION',
       'KIPLING STATION', 'KENNEDY BD STATION', 'GREENWOOD STATION',
       'SHEPPARD WEST STATION', 'FINCH STATION', 'GLENCAIRN STATION',
       'BATHURST STATION', 'COXWELL STATION', 'WARDEN STATION',
       'CHRISTIE STATION', 'WILSON YARD', 'WILSON STATION',
       'CASTLE FRANK STATION', 'DUNDAS STATION', 'YORK MILLS STATION',
       'SCARB CTR STATION', 'ROSEDALE STATION', 'BESSARION STATION',
       'SPADINA YUS STATION', 'ISLINGTON STATION', 'MUSEUM STATION',
       'YONGE BD STATION', "QUEEN'S PARK STATION", 'LAWRENCE STATION',
       'ELLESMERE STATION', 'ST GEORGE YUS STATION',
       'ST GEORGE BD STATION', 'CHESTER STATION', 'UNION STATION',
       'OLD MILL STATION', 'BLOOR STATION', 'SPADINA BD STATION',
       'PAPE STATION', 'YORKDALE STATION', 'QUEEN STATION',
       'SHEPPARD STATION', 'NORTH YORK CTR STATION',
       'VICTORIA PARK STATION', 'HIGH PARK STATION', 'WELLESLEY STATION',
       'EGLINTON STATION', 'VAUGHAN MC STATION', 'ROYAL YORK STATION',
       'DUNDAS WEST STATION', 'LAWRENCE WEST STATION', 'WOODBINE STATION',
       'OSSINGTON STATION', 'SHERBOURNE STATION', 'KING STATION',
       'MCCOWAN STATION', 'SUMMERHILL STATION', 'DON MILLS STATION',
       'BAY STATION', 'ST CLAIR STATION', 'DOWNSVIEW PARK STATION',
       'COLLEGE STATION', 'KENNEDY SRT STATION', 'YORK UNIVERSITY STATIO',
       'YONGE SHP STATION', 'OSGOODE STATION', 'DUFFERIN STATION',
       'RUNNYMEDE STATION', 'LANSDOWNE STATION', 'WILSON HOSTLER',
       'LAWRENCE EAST STATION', 'JANE STATION', 'ST PATRICK STATION',
       'BROADVIEW STATION', 'HIGHWAY 407 STATION', 'ST ANDREW STATION',
       'MAIN STREET STATION', 'BLOOR DANFORTH SUBWAY', 'LESLIE STATION',
       'MIDLAND STATION', 'FINCH WEST STATION', 'SRT LINE',
       'GREENWOOD PORTAL', 'DAVISVILLE BUILD UP', 'KEELE YARD',
       'DAVISVILLE BUILD-UP', 'KIPLING TO KENNEDY', 'BAYVIEW STATION',
       'GREENWOOD YARD', 'PIONEER VILLAGE STATIO',
       'SCARBOROUGH RAPID TRAN', 'BATHUSRT STATION',
       'YORK MILLS CENTRE TRAC', 'DAVISVILLE YARD', 'BROADVIEW TO YONGE',
       'UNION STATION TO KING', 'SHEPPARD WEST TO DOWNS',
       'YONGE BD STATION (LEAV', 'SCARBOROUGH CTR STATIO',
       'DUPONT MIGRATION POINT', 'SHEPPARD-YONGE STATION',
       'UNION TO KING', 'FINCH STATION TO DUPON',
       'UNION STATION (TO KING', 'SYSTEMWIDE', 'BLOOR VIA DUCT',
       'WARDEN TO VICTORIA PAR', 'UNION TO ST ANDREW',
       'KIPLING TO HIGH PARK', 'KIPLING TO KENNEDY STN',
       'KIPLING TO COXWELL', 'YORKDALE TO FINCH STAT',
       'UNION STATION TO ST AN', 'WILSON TO SHEPPARD WES',
       'UNION TO FINCH', 'S/O EGLINTON TO ST CLA',
       "QUEEN'S PARK TO ST CLA", 'KENNEDY TO KIPLING STA',
       'KENNEDY TO KIPLING', 'DAVISVILLE BUID-UP', 'MCCOWAN YARD',
       'WILSON STATION TO YORK', 'BLOOR SATION', 'DAVISVILLE HOSTLER',
       'WILSON STATION- HOSTLE', 'BROADVIEW TO KIPLING S',
       'UNION TO KING STATION', 'E13', 'UNION STATION (TO ST A',
       'YONGE STATION', 'KING TO UNION', 'KEELE TO DUNDAS WEST',
       'UNION TO FINCH STATION', 'CHESTER TO WARDEN',
       'YONGE TO COXWELL STATI', 'KIPLING TO KENNEDY STA',
       'QUEENS PARK STATION', 'CHURCH EMERGENCY EXIT',
       'WILSON YARD - NORTH HO', 'W/O CASTLE FRANK TO GR',
       'CHESTER TO YONGE STATI', 'SCARBORUGH RAPID TRANS',
       'WARDEN AND KENNEDY', 'UNION STATION (KING)', 'BLOOR TO ST.CLAIR',
       'VMC STATION TO SHEPPAR', 'BLOOR TO UNION',
       'ALLEN RD (N OF EGLINTO', 'SPADINA YUS STATION (L',
       'FINCH TO NORTH YORK CT', 'KENNEDY TO LAWRENCE EA',
       'FINCH TO VAUGHAN METRO', 'KIPLING STATION TO KEN',
       'KENNEDY STATION TO KIP', 'TYSSE LINE', 'SHEPPARD WEST MIGRATI',
       'UNION TO ST GEORGE', 'LAWRENCE EAST TO ELLES',
       'EGLINTON WEST TO VMC', 'UNION STATION TO FINCH',
       'LEAVING LAWRENCE EAST', 'MCCOWAN TO KENNEDY STA',
       'DUFFERIN TO LANSDOWNE', 'WILSON TO EGLINTON',
       'SHEPPARD WEST PORTAL', 'GREENWOOD WYE', 'TRANSIT CONTROL CENTRE',
       'ST CLAIR WEST TO EGLIN', 'SHEPPARD WEST MIGRATIO',
       'ST CLAIR WEST TO DUPON', 'OLD MILL TO ISLINGTON',
       'KIPLING TO ROYAL YORK', 'SHEPPARD LINE', 'SHEPPARD WEST TO WILSO',
       'VMC TO SHEPPARD WEST', 'ATC FAILURE', 'OSGOODE POCKET',
       'SYSTEM WIDE', 'WILSON HOSLTER', 'SHEPPARD YONGE STATION',
       'SPADINA STATION', 'SOUTH OF LAWRENCE SRT', 'SOUTH OF MIDLAND SRT',
       'UNION (TO ST ANDREW)', 'BESSARIAN STATION',
       'LAWRENCE TO EGLINTON S', 'FINCH TO UNION STATION',
       'YONGE UNIVERSITY LINE', 'YUS/BD/SHEPPARD SUBWAY', 'ATC TERRITORY',
       'LAWRENCE WEST TO EGLIN'], dtype=object)