In [1]:
# Dependencies
import pandas as pd

In [2]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [3]:
engine_heroku = create_engine('postgres://omtjgoefxknxjr:4dc783a299806ee57d98e35b67ccfbfc26f71b0f7ef0806de7a83021d71b69a8@ec2-184-72-236-57.compute-1.amazonaws.com:5432/d397mvjlukaah3')

In [5]:
# Store filepath in a variable
file_one = "Data/ttc-subway-delay-2019-masterv3.csv"

In [6]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
subway_data_df = pd.read_csv(file_one, encoding="ISO-8859-1")
subway_data_df.head()

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_info,latitude,longitude,line_name,month,time_range
0,2019-01-01,3:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061,ATC Project,43.4029,-79.2425,Yonge University Spadina,January,9PM-1:30AM
1,2019-01-01,3:08,Tuesday,EGLINTON WEST STATION,EUATC,11,16,S,YU,5656,ATC RC&S Equipment,43.4157,-79.2609,Yonge University Spadina,January,9PM-1:30AM
2,2019-01-01,3:09,Tuesday,DUPONT STATION,EUATC,6,11,N,YU,5381,ATC RC&S Equipment,43.4029,-79.2425,Yonge University Spadina,January,9PM-1:30AM
3,2019-01-01,3:26,Tuesday,ST CLAIR WEST STATION,EUATC,4,9,N,YU,5571,ATC RC&S Equipment,43.4116,-79.2335,Yonge University Spadina,January,9PM-1:30AM
4,2019-01-01,8:04,Tuesday,DAVISVILLE STATION,MUNOA,5,10,S,YU,0,No Operator Immediately Available - Not E.S.A....,43.4152,-79.2350,Yonge University Spadina,January,5-9AM

In [7]:
len(subway_data_df)

6677

In [8]:
subway_data_df['id'] = subway_data_df.index +1

In [9]:
subway_data_df.head()

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_info,latitude,longitude,line_name,month,time_range,id
0,2019-01-01,3:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061,ATC Project,43.4029,-79.2425,Yonge University Spadina,January,9PM-1:30AM,1
1,2019-01-01,3:08,Tuesday,EGLINTON WEST STATION,EUATC,11,16,S,YU,5656,ATC RC&S Equipment,43.4157,-79.2609,Yonge University Spadina,January,9PM-1:30AM,2
2,2019-01-01,3:09,Tuesday,DUPONT STATION,EUATC,6,11,N,YU,5381,ATC RC&S Equipment,43.4029,-79.2425,Yonge University Spadina,January,9PM-1:30AM,3
3,2019-01-01,3:26,Tuesday,ST CLAIR WEST STATION,EUATC,4,9,N,YU,5571,ATC RC&S Equipment,43.4116,-79.2335,Yonge University Spadina,January,9PM-1:30AM,4
4,2019-01-01,8:04,Tuesday,DAVISVILLE STATION,MUNOA,5,10,S,YU,0,No Operator Immediately Available - Not E.S.A....,43.4152,-79.2350,Yonge University Spadina,January,5-9AM,5

In [10]:
subway_data_df.to_sql('ttc_subway_2019', con=engine_heroku, if_exists='replace', index=False)

In [9]:
engine_heroku.execute('ALTER TABLE ttc_subway_2019 ADD PRIMARY KEY (id);')

In [4]:
#Check if table is loaded
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine_heroku, reflect=True)

In [5]:
Base.classes.keys()

['ttc_subway_2019', 'station_in_line']

In [14]:
# Save references to each table
subway_tb_heroku = Base.classes.ttc_subway_2019

In [6]:
test_df=pd.read_sql('SELECT * FROM station_in_line;', engine_heroku)

In [7]:
test_df

,station,latitude,longitude,line_name,avg_delay_time,num_delays,id
0,VAUGHAN MC STATION,43.794167,-79.5275,Yonge University Spadina,4.92,241,1
1,HIGHWAY 407 STATION,43.783889,-79.523056,Yonge University Spadina,6.13,24,2
2,PIONEER VILLAGE STATIO,43.776944,-79.509444,Yonge University Spadina,14.05,20,3
3,YORK UNIVERSITY STATIO,43.774167,-79.499722,Yonge University Spadina,5.29,21,4
4,FINCH WEST STATION,43.765278,-79.491111,Yonge University Spadina,6.58,31,5
...,...,...,...,...,...,...,...
75,SHEPPARD-YONGE SHP STATION,43.761389,-79.410833,Sheppard,5.42,85,76
76,BAYVIEW STATION,43.766944,-79.386667,Sheppard,13.30,23,77
77,BESSARION STATION,43.769167,-79.376389,Sheppard,5.45,29,78
78,LESLIE STATION,43.771389,-79.365278,Sheppard,6.81,27,79
79,DON MILLS STATION,43.775556,-79.346389,Sheppard,5.49,43,80

In [4]:
# Store filepath in a variable
file_two = "Data/TTC Stations In order by line v4.xlsx"

In [5]:
stations_delay_df = pd.read_excel(file_two, encoding="ISO-8859-1")
stations_delay_df.head()

,station,latitude,longitude,line_name,avg_delay_time,num_delays
0,VAUGHAN MC STATION,43.794167,-79.5275,Yonge University Spadina,4.92,241
1,HIGHWAY 407 STATION,43.783889,-79.5231,Yonge University Spadina,6.13,24
2,PIONEER VILLAGE STATIO,43.776944,-79.5094,Yonge University Spadina,14.05,20
3,YORK UNIVERSITY STATIO,43.774167,-79.499722,Yonge University Spadina,5.29,21
4,FINCH WEST STATION,43.765278,-79.4911,Yonge University Spadina,6.58,31

In [6]:
len(stations_delay_df)

80

In [7]:
stations_delay_df['id'] =stations_delay_df.index+1

In [8]:
stations_delay_df.head()

,station,latitude,longitude,line_name,avg_delay_time,num_delays,id
0,VAUGHAN MC STATION,43.794167,-79.5275,Yonge University Spadina,4.92,241,1
1,HIGHWAY 407 STATION,43.783889,-79.5231,Yonge University Spadina,6.13,24,2
2,PIONEER VILLAGE STATIO,43.776944,-79.5094,Yonge University Spadina,14.05,20,3
3,YORK UNIVERSITY STATIO,43.774167,-79.499722,Yonge University Spadina,5.29,21,4
4,FINCH WEST STATION,43.765278,-79.4911,Yonge University Spadina,6.58,31,5

In [9]:
# stations_delay_df.to_csv('data/station_in_line.csv')

In [24]:
stations_delay_df.to_sql('station_in_line', con=engine_heroku, if_exists='replace', index=False)

In [25]:
engine_heroku.execute('ALTER TABLE station_in_line ADD PRIMARY KEY (id);')

In [26]:
#Check if table is loaded
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine_heroku, reflect=True)

In [27]:
# Save references to each table
subway_tb_heroku = Base.classes.station_in_line

In [28]:
test_delay_df=pd.read_sql('SELECT * FROM station_in_line;', engine_heroku)
test_delay_df.head()

,station,latitude,longitude,line_name,avg_delay_time,num_delays,id
0,VAUGHAN MC STATION,43.794167,-79.5275,Yonge University Spadina,4.92,241,1
1,HIGHWAY 407 STATION,43.783889,-79.523056,Yonge University Spadina,6.13,24,2
2,PIONEER VILLAGE STATIO,43.776944,-79.509444,Yonge University Spadina,14.05,20,3
3,YORK UNIVERSITY STATIO,43.774167,-79.499722,Yonge University Spadina,5.29,21,4
4,FINCH WEST STATION,43.765278,-79.491111,Yonge University Spadina,6.58,31,5

In [29]:
test_delay_df.columns

Index(['station', 'latitude', 'longitude', 'line_name', 'avg_delay_time',
       'num_delays', 'id'],
      dtype='object')